# DB TESTING RESULTS AND UPDATES

Baza je bila testirana in bile so najdene napake, ki so bile popravljene s pomočjo update skript.

[text](mongoFindBadData.js)
[text](mongoUpdate1.js)
[text](mongoUpdate2.js)